{% if plugins is not empty %}
    <ul class="admin-list">
        {% for plugin in plugins %}
            {% set url = path(plugin.route_name) %}
            <li class="clearfix"><a href="{{ url }}"><span class="label">{{ plugin.title }}</span></a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>
        {% trans %}
        You do not have any enabled plugin module for this social network
        {% endtrans %}
    </p>
{% endif %}
